body {
}
img {
    opacity: .75;
}

.container {
    position: fixed;
    top: 20px;
    text-align: center;
    width: 100%;
}

#blank {
    padding: 9px;
}
span {
    font-size: 45px;
    padding: 5px;
    outline-style: dotted;
    margin: 10px;
    background-color: white;
}

table {
    top: 50px;
    position: fixed;
    border-collapse: separate;
    border-spacing: 20px;
    left: 50px;
}

td {
    background-color: gainsboro;
    color: darkgreen;
    padding: 10px;
    font-size: 60px;
    border-radius: 10px;
}