body {
    background-image: url('birds.png');
    background-size: 100%;
}

.container {
    position: fixed;
    top: 20px;
    text-align: center;
    width: 100%;
}

#blank {
    padding: 9px;
}
span {
    font-size: 45px;
    padding: 5px;
    outline-style: dotted;
    margin: 10px;
    background-color: white;
}

table {
    top: 20px;
    position: fixed;
    border-collapse: separate;
    border-spacing: 28px;
    left: 50px;
}

td {
    background-color: darkslategray;
    color: lightgrey;
    padding: 10px;
    font-size: 60px;
    border-radius: 10px;
}
#k-switch {
    font-family: "Rajdhani";
    background-color: pink;
    color: darkslategray;
    border-style: none;
    font-size: 20px;
    padding: 20px;
    position: fixed;
    top: 520px;
    left: 1230px;
}
#h-switch {
    font-family: "Rajdhani";
    background-color: lightblue;
    color: darkslategray;
    border: none;
    font-size: 20px;
    padding: 20px;
    position: fixed;
    top: 150px;
    left: 1235px;
}